@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&display=swap");

:root {
  background: #e3dfda;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #e3dfda;
}
